microservice-chart:
  namespace: "fdr"
  image:
    repository: ghcr.io/pagopa/pagopa-fdr-technical-support
    tag: '1.1.4'
  readinessProbe:
    httpGet:
      path: /q/health/ready
      port: 8080
    initialDelaySeconds: 8
    failureThreshold: 10
    periodSeconds: 2
  livenessProbe:
    httpGet:
      path: /q/health/live
      port: 8080
    initialDelaySeconds: 8
    failureThreshold: 10
    periodSeconds: 2
  deployment:
    create: true
    replicas: 1
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 0
        maxSurge: 1
  serviceMonitor:
    create: true
    endpoints:
      - interval: 5s
        targetPort: 8080
        path: /q/metrics
  ports:
    - 12345 #jmx-exporter
    - 8080
  service:
    type: ClusterIP
    ports:
      - 8080
      - 12345 #jmx-exporter
  ingress:
    create: true
    host: "weuprod.fdr.internal.platform.pagopa.it"
    path: /pagopa-fdr-technical-support-service/(.*)
  serviceAccount:
    name: "fdr-workload-identity"
  azure:
    workloadIdentityClientId: <workload-identity-client-id-set-automatically-by-gha>
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "256Mi"
      cpu: "200m"
    limits:
      memory: "768Mi"
      cpu: "400m"
  autoscaling:
    enabled: false
  envConfig:
    APP_ENVIRONMENT: "prod"
    TZ: "Europe/Rome"
    OTEL_ENDPOINT: "http://otel-collector.elastic-system.svc.cluster.local:4317"
    FDR_ENDPOINT: "https://api.platform.pagopa.it/fdr-internal/service/v1"
    LOG_LEVEL: "ERROR"
    QUERY_LOG_LEVEL: "OFF"
    RE_EVENTS_DATE_RANGE_LIMIT: "7"
  envFieldRef:
    APP_NAME: "metadata.labels['app.kubernetes.io/instance']"
    APP_VERSION: "metadata.labels['app.kubernetes.io/version']"
  envSecret:
    MONGODB_CONNECTION_STRING: "mongodb-re-connection-string"
    FDR_TABLE_STORAGE_CONN_STRING: "fdr-sa-connection-string"
    FDR_SUBSCRIPTION_KEY: "fdr-internal-product-subscription-key"
  keyvault:
    name: "pagopa-p-fdr-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tmpVolumeMount:
    create: true
  tolerations:
    - key: dedicated
      operator: Equal
      value: "nodo"
      effect: NoSchedule
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: nodo
                operator: In
                values:
                  - "true"
  canaryDelivery:
    create: false
