name: Code Review

# Controls when the workflow will run
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - main


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  PROJECT_KEY: pagopa_pagopa-fdr-technical-support

permissions:
  id-token: write
  contents: read

jobs:
  code-review:
    name: Code Review
    runs-on: ubuntu-22.04

    env:
      DOCKER_API_VERSION: "1.44"
      DOCKER_HOST: unix:///var/run/docker.sock
    steps:
      - name: Code Review
        uses: pagopa/github-actions-template/maven-code-review@525266fb788f4da438e5919fcf660fe8637271ed # 2.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          sonar_token: ${{ secrets.SONAR_TOKEN }}
          project_key: ${{env.PROJECT_KEY}}
          coverage_exclusions: "**/config/*,**/*Mock*,**/models/**,**/entities/*"
          coverage_report_path: "target/jacoco-report/jacoco.xml"
          cpd_exclusions: "**/models/**,**/entities/*"
          java_distribution: "graalvm"
          java_version: "17.0.7"